---
import { CollectionEntry, getCollection } from "astro:content";
import ProjectCard from "../../components/ProjectCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import filterProjects from "../../utils/filterProjects";
import slugify from "../../utils/slugify";

export async function getStaticPaths() {
  // TODO: Make it like [author].astro

  const allProjects = await getCollection("projects");
  const filteredProjects: CollectionEntry<"projects">[] =
    filterProjects(allProjects);

  const allCategories = [
    ...new Set(
      filteredProjects
        .map((project) => {
          return project.data.category;
        })
        .flat()
    ),
  ];

  return allCategories.map((cat) => {
    return {
      params: { category: slugify(cat) },
      props: { name: cat },
    };
  });
}

const { category } = Astro.params;
const { name } = Astro.props;

const allProjects = await getCollection("projects");
const filteredProjects: CollectionEntry<"projects">[] =
  filterProjects(allProjects);
const categorisedProjects = filteredProjects.filter((project: any) =>
  project.data.category.some((cat: string) => slugify(cat) == category)
);
---

<BaseLayout title={name}>
  <section class="container" aria-label={`Projects using ${name}`}>
    <h1 class="h1">Projects using <span>{name}</span></h1>
    <div class="post-container">
      {
        categorisedProjects.map((project) => (
          <ProjectCard data={project.data} url={project.slug} tagType="h2" />
        ))
      }
    </div>
  </section>
</BaseLayout>
