---
import { CollectionEntry, getCollection } from "astro:content";
import ProjectCard from "../../components/ProjectCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import filterProjects from "../../utils/filterProjects";
import slugify from "../../utils/slugify";

export async function getStaticPaths() {
  const allProjects = await getCollection("projects");
  const filteredProjects: CollectionEntry<"projects">[] =
    filterProjects(allProjects);

  // Set can only contain unique elements
  const allAuthors = [
    ...new Set(filteredProjects.map((project) => project.data.author).flat()),
  ];

  return allAuthors.map((author) => {
    const authorProjects = filteredProjects.filter(
      (project) => project.data.author === author
    );
    return {
      params: { author: slugify(author) },
      props: { authorName: author, projects: authorProjects },
    };
  });
}

interface Props {
  projects: CollectionEntry<"projects">[];
  authorName: string;
}

const { author } = Astro.params;
const { authorName, projects } = Astro.props;
---

<BaseLayout title={authorName}>
  <section class="container" aria-label={`Projects done by ${authorName}`}>
    <h1 class="h1">Projects done by <span>{authorName}</span></h1>
    <div class="post-container">
      {
        projects.map((project) => (
          <ProjectCard data={project.data} url={project.slug} tagType="h2" />
        ))
      }
    </div>
  </section>
</BaseLayout>
