---
import { CollectionEntry, getCollection } from "astro:content";
import Card from "../components/Card.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SocialMedia from "../components/SocialMedia.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import filterProjects from "../utils/filterProjects";
import { Image } from "@astrojs/image/components";
import CategoryCloud from "../components/CategoryCloud.astro";

const allProjects = await getCollection("projects");
const filteredProjects: CollectionEntry<"projects">[] = filterProjects(
  allProjects,
  { limit: 3 }
);
---

<BaseLayout>
  <!-- 1. Introduction -->
  <main class="w-full overflow-x-hidden">
    <section
      class="section-min-height flex w-full flex-col items-center justify-center border-b-2 border-black text-center dark:border-white lg:flex-row lg:justify-between"
    >
      <div
        class="flex w-full flex-col items-center md:ml-20 lg:w-1/2 lg:items-start lg:text-left xl:ml-40"
      >
        <h2 class="mb-2 text-xl">👋 Hi, my name is...</h2>
        <h1 class="mb-4 text-3xl font-medium sm:text-4xl xl:text-5xl">
          Ang Wei Feng (Ted).
        </h1>
        <h1
          class="mb-4 min-h-[80px] text-3xl font-medium sm:text-4xl xl:mb-8 xl:min-h-[96px] xl:text-5xl"
        >
          I can
          <span id="tagline" class="text-cyan-500"></span>
          for you.
        </h1>
        <div
          class="mb-8 grid grid-cols-1 place-items-start gap-4 xl:grid-cols-2 xl:gap-1"
        >
          <Card
            href="/"
            isCircular={false}
            inverse={true}
            classes="max-w-[300px] "
          >
            <p class="px-4 py-3 text-center text-3xl">Resume 📥</p>
          </Card>
          <Card
            href="/contact/"
            isCircular={false}
            classes="max-w-[300px] xl:ml-8 "
          >
            <p class="px-4 py-3 text-center text-3xl">Contact 📩</p>
          </Card>
        </div>
      </div>
      <!-- Social media -->
      <div class="flex w-full max-w-lg justify-evenly py-5 lg:hidden">
        <SocialMedia />
      </div>

      <!-- Bigger photo -->
      <div class="mr-24 hidden justify-center lg:flex xl:mr-48">
        <Card href="/about/" isCircular={false}>
          <Image
            src="/images/headshot.jpg"
            alt="Photo of Ted"
            width={450}
            height={450}
            class="rounded-lg"
          />
        </Card>
      </div>
    </section>
    <section class="mt-16 lg:hidden">
      <!-- photo -->
      <div class="flex justify-center">
        <Card href="/about/" isCircular={false}>
          <Image
            src="/images/headshot.jpg"
            alt="Photo of Ted"
            width={300}
            height={300}
            class="rounded-lg"
          />
        </Card>
      </div>
    </section>
    <section
      class="flex flex-col items-center border-b-2 border-black py-16 dark:border-white"
    >
      <p
        class="max-w-sm text-center text-3xl font-medium sm:max-w-xl lg:max-w-4xl"
      >
        <span class="py-8">👆<br /><br />That's me!</span>
        <br />
        <br />

        <span class="py-8"
          >I'm always looking for opportunities to learn about cool new
          technologies. In my free time, I am probably tinkering on side
          projects, annoying my fat cat
          <a href="https://www.instagram.com/gomugomu.cat/">Luffy</a>, and very
          occasionally, going to the gym.<br />
          <br />🔨<br /><br /> You can see some of the projects I have built below.</span
        >
      </p>
    </section>

    <!-- sticky side bar -->
    <div class="fixed right-5 top-2/3 hidden flex-col gap-5 lg:flex">
      <SocialMedia />
    </div>

    <!-- Featured projects -->
    <section
      class="flex flex-col items-center border-b-2 border-black dark:border-white"
    >
      <div
        class="grid grid-cols-1 place-items-center sm:grid-cols-2 lg:mx-16 lg:grid-cols-3"
      >
        {
          filteredProjects.map((project) => (
            <ProjectCard data={project.data} url={project.slug} />
          ))
        }
        <Card
          href="/projects/"
          isCircular={false}
          classes="max-w-[300px] flex justify-center mt-8 mb-16 lg:hidden"
        >
          <p class="p-4 text-center text-3xl">View more projects</p>
        </Card>
      </div>
      <Card
        href="/projects/"
        isCircular={false}
        classes="max-w-[300px] lg:flex justify-center mt-8 mb-16 hidden"
      >
        <p class="p-4 text-center text-3xl">View more projects</p>
      </Card>
    </section>

    <!-- Companies -->
    <section class="grid grid-cols-5 border-b-2 border-black dark:border-white">
      <div class="col-span-2 grid bg-red-300">
        Here are some of the companies I work for.
      </div>
      <div class="col-span-3 grid bg-cyan-300">
        <CategoryCloud />
      </div>
    </section>
    <!-- Skills -->
    <section class="grid grid-cols-5 border-b-2 border-black dark:border-white">
      <div class="col-span-3 grid bg-cyan-300">
        <CategoryCloud />
      </div>
      <div class="col-span-2 grid bg-red-300">
        Here are some of the skills I acquired.
      </div>
    </section>
    <!-- Contact -->
    <section class="flex flex-col items-center">
      <h1 class="py-8 text-4xl font-medium sm:text-5xl xl:text-6xl">
        Get In Touch
      </h1>
      <p
        class="max-w-sm py-4 text-center text-2xl font-medium sm:max-w-xl md:text-3xl lg:max-w-4xl"
      >
        Although currently I'm not looking for new opportunities, my inbox is
        open 24/7. Drop me a message and I'll try my best to get to back to you
        soon.
      </p>
      <Card
        href="/projects/"
        isCircular={false}
        classes="max-w-[300px] flex justify-center mt-8 mb-16"
      >
        <p class="p-4 text-center text-3xl">📩 Contact Me</p>
      </Card>
    </section>
  </main>
</BaseLayout>

<script>
  import Typed from "typed.js";
  var tagline = new Typed("#tagline", {
    strings: [
      "build something",
      "DROP TABLE in production",
      "build software applications",
      "do fullstack development",
      "build a frontend",
      "build backend services",
      "deploy to the cloud",
      "maintain legacy code",
      "create and fix bugs",
      "do a data migration",
      "write documentation",
    ],
    startDelay: 1000,
    typeSpeed: 50,
    backSpeed: 50,
    loop: true,
    backDelay: 2500,
    cursorChar: "|",
    shuffle: false,
  });
</script>
