---
import { Icon } from "astro-icon";

interface Props {
  href: string;
  classes?: string;
  bgDark?: boolean;
  // style: "primary" | "secondary";
  // icon?: {
  //   name: string;
  //   side: "left" | "right";
  // };
  // borderVisible?: boolean;
}

const {
  href,
  classes,
  bgDark = false,
  // style,
  // icon,
  // borderVisible = false,
  ...rest
} = Astro.props as Props;
---

<!-- <a
  href={href}
  class:list={[
    "link",
    classes,
    style,
    { filled: isFilled, bordered: borderVisible },
  ]}
  {...rest}
>
  {
    icon && icon.side === "left" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }
  <span>{text}</span>
  {
    icon && icon.side === "right" && (
      <Icon name={icon.name} height="24" width="24" />
    )
  }
</a> -->
<a href={href} target="_blank" class:list={[classes]} {...rest}>
  <slot />
</a>
