---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import navData from "../data/navData.json";
import Card from "./Card.astro";
---

<header
  class="sticky top-0 z-10 border-b-2 border-black bg-white dark:border-white dark:bg-black"
>
  <nav>
    <div class="flex justify-between">
      <!-- logo -->
      <div>
        <a href="/">
          <Image
            id="logo-white"
            src="/logo.svg"
            alt="logo"
            width={80}
            height={80}
            format="webp"
            class="block dark:hidden"
          />
          <Image
            id="logo-dark"
            src="/logo-dark.svg"
            alt="logo"
            width={80}
            height={80}
            format="webp"
            class="hidden dark:block"
          />
        </a>
      </div>
      <!-- primary nav, hide in mobile -->
      <div class="hidden items-center space-x-10 lg:flex">
        {
          navData.map((link) => (
            <Card href={link.path} classes="px-3 py-1">
              {link.name}
            </Card>
          ))
        }
      </div>
      <div class="flex">
        <!-- secondary nav, hide in mobile -->
        <div class="mr-6 flex flex-col justify-center">
          <Card
            id="sun"
            classes="p-1 block dark:hidden bg-indigo-400 text-white"
          >
            <Icon name="tabler:moon" height="24" />
          </Card>
          <Card
            id="moon"
            classes="p-1 hidden dark:block dark:bg-orange-300 dark:text-black"
          >
            <Icon name="tabler:sun" height="24" />
          </Card>
        </div>
        <div
          class="flex flex-col justify-center border-l-2 border-black px-6 dark:border-l-2 dark:border-white"
        >
          <Card
            color="bg-yellow-300"
            inverse={true}
            href="/"
            classes="px-3 py-1 hidden lg:flex"
          >
            Resume
          </Card>
          <Card
            id="mobile-menu-btn"
            isCircular={false}
            classes="p-2 block lg:hidden"
          >
            <Icon name="tabler:menu" height="28" />
          </Card>
        </div>

        <!-- mobile button, hide in desktop -->
        <div class="flex items-center lg:hidden"></div>
      </div>
    </div>
  </nav>
  <!-- mobile menu -->
  <div
    id="mobile-menu"
    class="fixed right-[-100%] top-0 z-10 h-screen w-4/6 border-l-2 border-black bg-white duration-500 ease-in dark:border-white dark:bg-black"
  >
    <div
      class="flex h-[82px] items-center justify-end border-b-2 border-black dark:border-white"
    >
      <Card id="mobile-menu-btn" isCircular={false} classes="p-2 mr-6">
        <Icon name="tabler:letter-x" height="28" />
      </Card>
    </div>
    {
      navData.map((link) => (
        <a
          href={link.path}
          class="block border-b-2 border-black p-4 hover:bg-black hover:text-white dark:border-white dark:hover:bg-white dark:hover:text-black md:p-6"
        >
          {link.name}
        </a>
      ))
    }
    <a
      href="/"
      class="dark:bg-yellow-3 block border-b-2 border-black bg-yellow-300 p-4 hover:bg-black hover:text-white dark:border-white dark:text-black dark:hover:bg-white dark:hover:text-black md:p-6"
    >
      Resume
    </a>
  </div>
</header>

<script is:inline>
  const btn = document.querySelector("#mobile-menu-btn");
  const menu = document.querySelector("#mobile-menu");

  const toggleMenu = () => {
    if (!menu?.classList.replace("right-0", "right-[-100%]"))
      menu?.classList.replace("right-[-100%]", "right-0");
  };

  menu?.addEventListener("click", toggleMenu);
  btn?.addEventListener("click", toggleMenu);

  // Icons
  const sunIcon = document.querySelectorAll("#sun");
  const moonIcon = document.querySelectorAll("#moon");

  // Preference
  const userTheme = localStorage.getItem("theme");
  const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches;

  // Initial theme check
  const themeCheck = () => {
    if (userTheme === "dark" || (!userTheme && systemTheme)) {
      document.documentElement.classList.add("dark");
    }
  };

  // Theme switch
  const themeSwitch = () => {
    if (document.documentElement.classList.contains("dark")) {
      document.documentElement.classList.remove("dark");
      localStorage.setItem("theme", "light");
    } else {
      document.documentElement.classList.add("dark");
      localStorage.setItem("theme", "dark");
    }
  };

  // Click buttons
  sunIcon?.forEach((btn) => btn.addEventListener("click", () => themeSwitch()));
  moonIcon?.forEach((btn) =>
    btn.addEventListener("click", () => themeSwitch())
  );

  // Check theme on load
  themeCheck();
</script>
