---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import navData from "../data/navData.json";
import Link from "./Link.astro";
import SocialMedia from "./SocialMedia.astro";
---

<header
  class="sticky top-0 z-10 max-w-full border-b-2 border-solid border-black bg-white"
>
  <nav>
    <div class="mx-auto flex max-w-[22rem] justify-between">
      <!-- logo -->
      <div>
        <Link href="/">
          <Image
            src="/logo.svg"
            alt="logo"
            width={80}
            height={80}
            format="webp"
          />
        </Link>
      </div>
      <!-- primary nav, hide in mobile -->
      <div class="hidden items-center space-x-10 md:flex">
        {navData.map((link) => <Link href={link.path}>{link.name}</Link>)}
      </div>
      <!-- secondary nav, hide in mobile -->
      <div
        class="hidden items-center border-l-2 border-solid border-black bg-black text-white hover:border-l-2 hover:border-solid hover:border-black hover:bg-cyan-400 hover:text-black md:flex"
      >
        <Link href="/" bgDark={true}>Resume</Link>
      </div>
      <!-- mobile button, hide in desktop -->
      <div class="flex items-center bg-blue-300 md:hidden">
        <button id="mobile-menu-btn">
          <Icon name="tabler:menu" height="40" />
        </button>
      </div>
    </div>
    <!-- mobile menu -->
    <div
      id="mobile-menu"
      class="absolute hidden min-h-screen bg-white md:hidden"
    >
      {
        navData.map((link) => (
          <Link
            href={link.path}
            classes="block px-4 py-3 border-b-2 border-solid border-black"
          >
            {link.name}
          </Link>
        ))
      }
      <div class="mt-5 flex justify-center gap-1">
        <SocialMedia />
      </div>
    </div>
  </nav>
</header>

<script>
  const btn = document.querySelector("#mobile-menu-btn");
  const menu = document.querySelector("#mobile-menu");

  const toggleMenu = () => {
    menu?.classList.toggle("hidden");
  };

  menu?.addEventListener("click", toggleMenu);
  btn?.addEventListener("click", toggleMenu);
</script>
