---
import formatDate from "../utils/formatDate";
import { Image } from "@astrojs/image/components";
import Card from "./Card.astro";
import slugify from "../utils/slugify";
import Icon from "astro-icon";

const { data, url } = Astro.props;

const { title, date, category, author, image, description } = data;
---

<article class="px-4 py-8">
  <Card isCircular={false} href={url}>
    <div class="flex h-[500px] flex-col">
      <Image
        src={image.src}
        alt={image.alt}
        height={600}
        fit="fill"
        aspectRatio={"2:1"}
        format="webp"
        class="rounded-t-lg"
      />
      <figcaption class="flex flex-grow flex-col justify-between p-5 text-left">
        <h3 class="mb-5 flex font-semibold">
          {title}
        </h3>
        <p class="mb-5 flex">
          {description}
        </p>
        <div class="flex items-center justify-end pb-3">
          <h4 class="mr-2 font-medium">Read More</h4>
          <Icon name="tabler:arrow-narrow-right" height={20} />
        </div>
      </figcaption>
    </div>
  </Card>
</article>
<!-- <article class="card">
  <small>
    {
      category.map((item: string) => (
        <a href={`/category/${slugify(item)}/`} class="badge">
          {item}
        </a>
      ))
    }
  </small>
  <a href={`/projects/${url}`} aria-hidden="true" tabindex="-1"> </a>
  <div class="content">
    <div>
      <Tag class="h3">
        <a href={`/projects/${url}`}>{title}</a>
      </Tag>
      <small>
        by <a href={`/author/${slugify(author)}/`}>{author}</a> • {
          formatDate(date)
        }
      </small>
    </div>
    <p>{description}</p>
    <Link href={`/projects/${url}`} text="View Project" style="secondary" />
  </div>
</article> -->
