---
import formatDate from "../utils/formatDate";
import { Image } from "@astrojs/image/components";
import Link from "./Link.astro";
import Card from "./Card.astro";
import slugify from "../utils/slugify";
import Icon from "astro-icon";

const { data, url, tagType } = Astro.props;

const { title, date, category, author, image, description } = data;

const Tag = tagType;
---

<article class="pr-1">
  <Card isCircular={false}>
    <div>
      <Image
        src={image.src}
        alt={image.alt}
        width={300}
        aspectRatio={"2:1"}
        format="webp"
        class="rounded-t-lg"
      />
      <div class="flex h-48 flex-col justify-between px-5 text-left">
        <figcaption>
          <h3 class="py-3 font-semibold">
            {title}
          </h3>
          <p>
            {description}
          </p>
        </figcaption>
        <div class="flex items-center justify-end pb-3">
          <h4 class="mr-2 font-medium">Read More</h4>
          <Icon name="tabler:arrow-narrow-right" height={20} />
        </div>
      </div>
    </div>
  </Card>
</article>

<!-- <article class="card">
  <small>
    {
      category.map((item: string) => (
        <a href={`/category/${slugify(item)}/`} class="badge">
          {item}
        </a>
      ))
    }
  </small>
  <a href={`/projects/${url}`} aria-hidden="true" tabindex="-1"> </a>
  <div class="content">
    <div>
      <Tag class="h3">
        <a href={`/projects/${url}`}>{title}</a>
      </Tag>
      <small>
        by <a href={`/author/${slugify(author)}/`}>{author}</a> • {
          formatDate(date)
        }
      </small>
    </div>
    <p>{description}</p>
    <Link href={`/projects/${url}`} text="View Project" style="secondary" />
  </div>
</article> -->
