---
import { CollectionEntry, getCollection } from "astro:content";
import CategoryCloud from "../../components/CategoryCloud.astro";
import Pagination from "../../components/Pagination.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import filterProjects from "../../utils/filterProjects";
import SocialMedia from "../../components/SocialMedia.astro";

export async function getStaticPaths({ paginate }: any) {
  const allProjects = await getCollection("projects");
  const filteredProjects: CollectionEntry<"projects">[] =
    filterProjects(allProjects);

  return paginate(filteredProjects, {
    pageSize: 2,
  });
}

const { page } = Astro.props;
---

<BaseLayout title="My Projects">
  <section class="section-min-height flex flex-col items-center justify-center">
    <h1 class="mb-4 text-center text-5xl font-bold">My Projects</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:mx-14 lg:grid-cols-3">
      {
        page.data.map((project: any) => (
          <ProjectCard data={project.data} url={project.slug} />
        ))
      }
    </div>
    <div
      class="flex w-full justify-center border-b-2 border-black pb-4 dark:border-white"
    >
      <Pagination
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        currentPage={page.currentPage}
        totalPages={page.lastPage}
      />
    </div>
    <aside class="my-6">
      <!-- <h2 class="mb-5 text-center text-2xl font-medium">Project Categories</h2> -->
      <CategoryCloud showCount={true} />
    </aside>
  </section>
  <div class="fixed right-3 top-2/3 hidden flex-col gap-5 lg:flex">
    <SocialMedia />
  </div>
</BaseLayout>
