---
import { CollectionEntry, getCollection } from "astro:content";
import CategoryCloud from "../../components/CategoryCloud.astro";
import Pagination from "../../components/Pagination.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import filterProjects from "../../utils/filterProjects";

export async function getStaticPaths({ paginate }: any) {
  const allProjects = await getCollection("projects");
  const filteredProjects: CollectionEntry<"projects">[] =
    filterProjects(allProjects);

  return paginate(filteredProjects, {
    pageSize: 2,
  });
}

const { page } = Astro.props;
---

<BaseLayouttitle="My Projects">
  <section class="container" aria-label="My Projects">
    <h1 class="h1">My Projects</h1>
    <div class="post-container">
      {
        page.data.map((project: any) => (
          <ProjectCard data={project.data} url={project.slug} tagType="h2" />
        ))
      }
    </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <aside class="container" aria-label="Blog categories">
      <h2 class="h3">Project Categories</h2>
      <CategoryCloud showCount={true} />
    </aside>
  </section>
</BaseLayouttitle="My>
