---
import MainLayout from "./MainLayout.astro";
import ProjectHeader from "../components/ProjectHeader.astro";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout {title} {description}>
  <ProjectHeader {title} {date} {category} {author} {image} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</MainLayout>
