---
import CategoryCloud from "../components/CategoryCloud.astro";
import ProjectHeader from "../components/ProjectHeader.astro";
import RelatedProjects from "../components/RelatedProjects.astro";
import filterProjects from "../utils/filterProjects";
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;

const allProjects = await Astro.glob("../pages/projects/*.md");
const filteredProjects = filterProjects(allProjects, { sortByDate: false });
const relatedProjects = filteredProjects
  .filter(
    (project) =>
      project.frontmatter.category.some((cat: string) =>
        category.includes(cat)
      ) && project.frontmatter.title !== title
  )
  .slice(0, 3);
---

<MainLayout {title} {description}>
  <ProjectHeader {title} {date} {category} {author} {image} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog categories">
        <h2 class="h3">Project Categories</h2>
        <CategoryCloud />
      </aside>
      {
        relatedProjects.length > 0 && (
          <aside class="container" aria-label="Related posts">
            <h2 class="h3">Related Projects</h2>
            <RelatedProjects {relatedProjects} />
          </aside>
        )
      }
    </div>
  </div>
</MainLayout>
